<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse" style="background-color: orange;">
      <div class="container">
        <nav class="nav navbar-left">
            <span class="title">Bookers</span>
        </nav>
        <nav>
          <ul class="d-flex justify-content-end">
            <% if user_signed_in? %>
              <li>
                <%= link_to top_path(current_user), class:"btn btn-link" do %>
                <span>Home</span>
                <% end %>
              </li>
                <%= link_to users_path, class:"btn btn-link" do %>
                <span>Users</span>
                <% end %>
              </li>
                <%= link_to books_path, class:"btn btn-link" do %>
                <span>Books</span>
                <% end %>
              </li>
                <%= link_to destroy_user_session_path, method: :delete, class:"btn btn-link" do %>
                <span>Logout</span>
                <% end %>
              </li>
            <% else %>
                <%= link_to root_path, class:"btn btn-link" do %>
                <span class="fas fa-home"> Home</span>
                <% end %>
              </li>
                <%= link_to root_path, class:"btn btn-link" do %>
                <span class="fas fa-link"> About</span>
                <% end %>
              </li>
                <%= link_to new_user_registration_path, class:"btn btn-link" do %>
                <span class="fas fa-user-plus"> sign up</span>
                <% end %>
              </li>
                <%= link_to new_user_session_path, class:"btn btn-link" do %>
                <span class="fas fa-sign-in-alt"> login</span>
                <% end %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>

      <%= yield %>


        <footer>
          <p class="text-right"> CopyRight Infratop.inc</p>
        </footer>
      </div>
    </div>
  </body>
</html>